body { 
	background-image:url(/Resources/Images/General/background.jpg); /*Use this for Online*/
	/*background-image:url(/LilPeanutsChildCare/Resources/Images/General/background.jpg); /*Use this for in development*/
	color:#000000;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size:20pt;
	text-align:center;
}

#navBar{
	float: left;
	list-style-type: none;
	margin-bottom: 100%;
	margin-right: 20px;
}

#content{
	width: 810px;
	margin: 0 auto;
	height: 100%;
}

#footer{
	width: 810px;
    margin: 0 auto;
	font-size: 10pt;
	font-style: italic;
}


ul{
	text-align:left;
}

#alignLeft{
	text-align:left;
}

.image{
	float: left;
	padding: 5px;
}

#pictures{
	float: center;
	width: 810px;
}

.blackText{
	color: black;
}

#fieldset{
	border-color: black;
}

#label{
	color: black;
}

.ui-panel {
   background-color: rgba(0,0,0,0);
   border: 0;
}

#scheduleTable{
	background-color:#f2ffcf;
	font-size:13pt;
	text-align:left;
}